spotifi-app/src/main/resources/artist.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="artists">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="artist">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="country">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="genre">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="singleList">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="song">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="duration" type="xs:decimal" />
                          <xs:element name="genre">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="albumList">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="albums">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="album">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="artist">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="name" type="xs:string" />
                                      <xs:element name="country">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="genre">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="genre">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="name" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="albumLength" type="xs:unsignedByte" />
                                <xs:element name="songsList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="song">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element name="duration" type="xs:decimal" />
                                            <xs:element name="genre">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>